body {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}




/* color buttons */
.color-container button {
    height: 150px;
    width: 150px;
    border-radius: 10px;

}

#blue {
    background-color: seashell;
    color: lightskyblue;
}

#red {
    background-color: seashell;
    color: lightcoral;
}

#yellow {
    background-color: seashell;
    color:goldenrod;
}

#green {
    background-color: seashell;
    color: lightseagreen;
}