body {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}




/* color buttons */
.color-container button {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    margin: 4px;;

}

#blue {
    background-color: seashell;
    color: lightskyblue;
}

.select#blue {
    background-color: lightskyblue;
}

#red {
    background-color: seashell;
    color: lightcoral;
}

.select#red {
    background-color: lightcoral;
}

#yellow {
    background-color: seashell;
    color:goldenrod;
}

.select#yellow {
    background-color: gold;
}

#green {
    background-color: seashell;
    color: lightseagreen;
}

.select#green {
    background-color: lightgreen;
}

/* WRONG */
.wrong {
    background-color: red;
}