body {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(255, 255, 255);

    /* fun */
    /* background-image: url(https://image.cnbcfm.com/api/v1/image/101014487-Tool-Simon-Cowell.jpg?v=1528037881);
    background-position: center;
    background-size: cover;
    -webkit-background-origin:border; */
}

h1 {
    color:black;
    height: 10%;
}



h2 {
    color: black;
    height: 10%;
}

.start {
    height: 10%
}
.start-spacer {
    height: 10%
    display: none;
}


.difficulty {
    display: block;
    height: 10%;
}

.difficulty-spacer {
    display: none;
    height: 10%;
}



/* color buttons */
.color-container button {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin: 4px;;

}

#blue {
    background-color: seashell;
    color: lightskyblue;
}

.select#blue {
    background-color: lightskyblue;
}

#red {
    background-color: seashell;
    color: lightcoral;
}

.select#red {
    background-color: lightcoral;
}

#yellow {
    background-color: seashell;
    color:goldenrod;
}

.select#yellow {
    background-color: gold;
}

#green {
    background-color: seashell;
    color: lightseagreen;
}

.select#green {
    background-color: lightgreen;
}

/* WRONG */
.wrong#blue {
    background-color: red;
}

.wrong#red {
    background-color: red;
}

.wrong#yellow {
    background-color: red;
}

.wrong#green {
    background-color: red;
}
